# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build outputs
dist/
build/
out/
.next/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# IDE and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.project
.settings/
.classpath
.c9/
*.launch
.settings/

.app/__pycache__
.myapp/__pycache__
.myapp/migrations/


# Logs
logs
*.log

# Testing
coverage/
.nyc_output/

# Miscellaneous
.tmp/
.sass-cache/
.cache/